/* font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Lexend Deca', sans-serif; */
body{
    font-size: 15px;
}
.container{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sedans{
    background: hsl(32, 77%, 52%);
    border-radius: 5px 5px 0 0;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    background: hsl(179, 100%, 13%);
    border-radius: 0 0 5px 5px;
}
.sedans,
.suvs,
.luxury{
    padding: 2rem;  
    
}
p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.7rem;
    font-stretch: expanded;
    margin: 0;
    padding: 10px 0;
    min-height: 2rem;
    word-spacing: 2px;
    width: 200px;
    line-height: 20px;
    word-wrap: break-word;
}
h2{
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    font-size: 1.5rem;
}
img{
    height: 28px;
}
button{
    background: hsl(0, 0%, 95%);
    text-decoration: none;
    border: none;
    font-size: 11px;
    border-radius: 15px;
    padding: 10px 25px;
    font-family: 'Lexend Deca', sans-serif;
}
p,
h2,
button,
img{
    margin: 0.5rem;
    margin-top: 1rem;
}
p{
    margin-bottom: 0;
    padding-bottom: 0;
}
img{
    margin-top: 0;
    padding-top: 0;
}





@media (min-width: 376px){
    p{
        color:red;
    }
}